{% extends "kerja-kuy/layout/base.html" %}
{% load staticfiles%}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color: #1B9595">
    <h1 class="text-center" style="color: white">KerjaKuy!</h1>
    <p class="text-center" style="color: white">Platform untuk mencari pekerjaan.</p>
  </div>
</div>

<div class="container">
  <div id="login-buttons">
    {% if not logged_in %}
      <div class="col-sm-3"></div>
      <div class="col-sm-2">
        <a href="" class="btn btn-warning" style="float: right">SSO</a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=810u4iktbobjf4&redirect_uri=http://localhost:8000/app_login/callback&state=987654321" class="btn btn-primary" style="float: left;">LinkedIn</a>
      </div>
      <div class="col-sm-3"></div>
    {% endif %}
  </div>
</div>

<div class="container">
  <div id="forum-list">
    {% if Forum %}
      {% for forum in Forum %}
        <div id = "forum post">
          <h3>{{forum.perusahaan.nama}}</h3>
          <h3> {{ forum.lowongan }}</h3>
          <a style= "float: right;" id = "response{{forum.id}}" class= "btn btn-danger" onclick="test('{{ forum.id }}')"> Response</a>
          <h5> {{ forum.created_date}}</h5>
            <div id="form{{forum.id}}" style="display:none" class="container">
              <form id="form" method="POST" action="{% url 'app_comments:add_comment' %}">
                <input type="hidden" name="id_forum" value={{forum.id}}>
                <h2>Tambah Tanggapan</h2>
                {% csrf_token %}
                {{ Forum_Comment }}
                <br>
                <input id="submit" type="submit"  class="btn btn-primary" value="Submit" onclick="">
                <br>
              </form>
            </div>
          <hr>
        </div>
        <div id="comments">
          {% if Comment %}
            {% for comment in Comment %}
              {% if comment.forum.id == forum.id %}
                <div class="container">
                  {% if logged_in %}
                    <img src="{{url_photo}}" style="width:25px;height:25px;float: right">
                    <p style="float: right">"{{comment.comment}}" - {{nama}}  </p>
                  {% else %}
                    <p style="float: right">"{{comment.comment}}" - Anonymous</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript%}
<script>
  function test (id) {
    var response = "#response"+id;
    var comments = "#form"+id;
    console.log(response);
    console.log(comments);
    $(response).remove();
    $(comments).css("display", "block");
  }
</script>
{% endblock %}
