/* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 html {
   min-height: 100%;
   position: relative;
 }
 .forum-list-title{
    margin-top: 80px;
 }
 body {
    margin-top: 70px;
    height: 100%;
    padding-bottom: 50px;
    background-image: url("https://www.walldevil.com/wallpapers/a49/dancing-animation-wallpaper-baby-sky-wallpapers-images.jpg");
    color: #FFFFFF;
}


#forum_list{
    background-color:#256630;
}
.container{   
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font: "Helvetica Neue";
    background-color:#333;
    margin: auto;
    margin-top: 20px; 
    width:75%;
}

#new_forum{
    margin: auto;
    width:75%;
}

.pagination{
    margin: auto;
    font-size: 18px;
}
textarea{
    color: black;
}
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

 
 footer p{
     text-align: center;
 }
 .footer {
   position: absolute;
   width: 100%;
   bottom: 0%;
   text-align: center;
 }
 
 
 p:not(#footer){
     font-family: "Times New Roman", Times, serif;
     font-size: 12px;
 }
 
 h2{
     margin-left: 20px;
 }
 
 #picture_company{
    margin-left: 20px;
 }