{% extends "kerja-kuy/layout/base.html" %}
{% load staticfiles%}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/app_forum.css' %}">
{% endblock %}


{% block content %}
<div id="snow">
<section>
    <h1 class="forum-list-title"> Forum Lowongan Kerja</h1>
    <div class="container" id ="forum_list">
            {% if Forum %}
                {% for forum in Forum %}
                <div id ="nama_company">
                    <a href="{% url 'app_profile:showProfile' %}">
                    <span class="badge badge-pill badge-primary" id="bege">
                    <h2><p style="text-align:left"><b>{{forum.perusahaan.nama}}</b></p></h2>
                    </span></a>
                </div>
                <br>
                <div id ="picture_company">
                    <p align ="left">
                    <img src="{{forum.perusahaan.url_photo}}" style="width:60px;height:60px;float: left">
                    </p>
                </div>

                <div id = "forum post">
                    <div id = "comments">
                    <h3> {{ forum.lowongan }}</h3>
                     
                    <h5> {{ forum.created_date}}</h5>
                    </div> 
                    <hr>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Maaf!</strong> Tidak ada forum
            </div>
            {% endif %}
        </div>


<div class="pagination">
    <span class="step-links"><center>
        {% if Forum.has_previous %}
            <a href="?page={{ Forum.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Forum.number }} of {{ Forum.paginator.num_pages }}.
        </span>

        {% if Forum.has_next %}
            <a href="?page={{ Forum.next_page_number }}">next</a>
        {% endif %}
    </center>
    </span>
</div>
</section>

    <div id="myDiv">
    <input id="new_forum" class="btn btn-lg btn-block btn-info" value="Tambah Forum Lowongan" onclick="show()">
    </div>

    <div id="form" style="display:none" class="container">
      <form id="form" method="POST" action="{% url 'app_forum:add_forum' %}">
          <h2>Tambah Forum Lowongan Kerja</h2>
          {% csrf_token %}
          {{ Forum_Lowongan }}
          <br>
          <input id="submit" type="submit"  class="btn btn-primary" value="Submit" onclick="add()">
          <br>
      </form>
    </div>
</div>

    {% block javascript%}
    <script>
    function show(){

        var x = document.getElementById("form");

        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').hide();

        }

    function add(){
        var x = document.getElementById("form");

        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').show();
    }

    function test(id) {
        $("#comments").append("ntar disini form dengan ID " + id);
        $('#response').hide();
    }
    </script>
    {% endblock %}
    {% endblock %}

