<!-- templates/partials/header.html -->
{% load staticfiles %} {% load static %}

<nav class="navbar navbar-default navbar-static-top">
      <div class="containers">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'app_login:index' %}">Dashboard</a></li>
            <li><a href="{% url 'app_forum:index' %}">Forum</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if logged_in %}
            <li><a href="{% url 'app_profile:showProfile' %}">Hello, {{ nama }}!</a></li>
            <li><a href="/app_login/logout" onclick="return confirm('Keluar?')">Logout (Session)</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
